<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="appId" value="1584719331808019" />
    <add key="appSecret" value="f08e07e4033aa1f273269ca75f5a8dd2" />
    <add key="accessToken" value="1584719331808019|h5DkJ1RZjuj2uWZOJJnQ1Z5uLg8"/>
    <add key="alchemyKey" value="2604a073dfc02dbaedde4749eec5b927fa4af0bf"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <!--'services' added by: Karabo Moroe-->
    <services>
      <service name="SocialSentimentService.SentimentService">
        <endpoint address="" 
                  behaviorConfiguration="restfulBheaviour"
                  binding="webHttpBinding" 
                  contract="SocialSentimentService.ISentimentService">
        </endpoint>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:53177/RepositoryService.svc"
        binding="basicHttpBinding" bindingConfiguration="soap" contract="RepoServiceReference.IRepositoryService"
        name="soap" />
    </client>
    <behaviors>
      <!--endpointBehaviours added by: Karabo Moroe-->
      <endpointBehaviors>
        <behavior name="restfulBheaviour">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  <httpProtocol>
	<customHeaders>
		<add name="Access-Control-Allow-Origin" value="*"/>
		<add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
		<add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
		<add name="Access-Control-Max-Age" value="1728000" />
	</customHeaders>
</httpProtocol>
  </system.webServer>

</configuration>
